{% extends 'layout.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'index/home.css' %}" type = "text/css">

{% block content %}

<form action="{% url 'search' %}" method="get">
    <input name="q" type="text" placeholder="Search...">

    <select name="platform">
        <option value="All">All</option>
        {% for pf in platform %}    
            <option value={{pf.name}}>{{pf.name}}</option>
        {% endfor %}    
    </select>

    <select name="genre">
        <option value="All">All</option>
        {% for gn in genre %}
            <option value={{gn.name}}>{{gn.name}}</option>
        {% endfor %}
    </select>

    <select name="season">
        <option value="All">All</option>
        {% for ss in season %}
            <option value={{ss.name}}>{{ss.name}}</option>
        {% endfor %}
    </select>

    <select name="rating">
        <option value="All">All</option>
        <option value="5">5 Stars</option>
        <option value="4">4 Stars</option>
        <option value="3">3 Stars</option>
        <option value="2">2 Stars</option>
        <option value="1">1 Star</option>
    </select>

    <select name="day">
        <option value="All">All</option>
        <option value="Monday">Monday</option>
        <option value="Tuseday">Tuesday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>

    <input type="submit" value="Search">
</form>



{% for i in result %}
<a href="home/{{i.anime_id}}"><h5> {{ i.anime_name }} </h5></a> <br>
<p> {{ i.description }} </p> <br>
{% endfor %}

{% endblock %}