{% load static %}
<link rel="stylesheet" href="{% static 'index/home.css' %}" type = "text/css">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div class="container px-4 px-lg-5">
       <a class="navbar-brand" href="home">Homepage</a>
       <a class="navbar-brand" href="about" >About</a>
       {% if request.user.is_authenticated %}
       <a class="navbar-brand" href="{% url 'logout' %}">Logout</a>
       {% else %}
       <a class="navbar-brand" href="{% url 'login' %}">Login</a>
       {% endif %}
       <a class="navbar-brand" href="calender" >Calendar</a>
       <a class="navbar-brand" href="search" >Search(coming soon)</a>
       <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
       </div>
   </div>
</nav>

<header class="bg-dark py-5">
   <div class="container px-4 px-lg-5 my-5">
       <div class="text-center text-white">
           <h1 class="display-4 fw-bolder">Sukejuru</h1>
           <p class="lead fw-normal text-white-50 mb-0">Easy to watch in one website</p>
       </div>
   </div>
</header>

<form action="{% url 'search' %}" method="get">
    <input name="q" type="text" placeholder="Search...">

    <select name="platform">
        <option value="All">All</option>
        {% for pf in platform %}    
            <option value={{pf.name}}>{{pf.name}}</option>
        {% endfor %}    
    </select>

    <select name="genre">
        <option value="All">All</option>
        {% for gn in genre %}
            <option value={{gn.name}}>{{gn.name}}</option>
        {% endfor %}
    </select>

    <select name="season">
        <option value="All">All</option>
        {% for ss in season %}
            <option value={{ss.name}}>{{ss.name}}</option>
        {% endfor %}
    </select>

    <select name="rating">
        <option value="All">All</option>
        <option value="5">5 Stars</option>
        <option value="4">4 Stars</option>
        <option value="3">3 Stars</option>
        <option value="2">2 Stars</option>
        <option value="1">1 Star</option>
    </select>

    <select name="day">
        <option value="All">All</option>
        <option value="Monday">Monday</option>
        <option value="Tuseday">Tuseday</option>
        <option value="Wednesday">Wednesday</option>
        <option value="Thursday">Thursday</option>
        <option value="Friday">Friday</option>
        <option value="Saturday">Saturday</option>
        <option value="Sunday">Sunday</option>
    </select>

    <input type="submit" value="Search">
</form>



{% for i in result %}
<h5> {{ i.anime_name }} </h5> <br>
<p> {{ i.description }} </p> <br>
{% endfor %}